<?xml version="1.0" encoding="utf-8"?>
<NeurofeedbackSignalSpecs>
	<bDC>0.0</bDC>
	<sExperimentName>FB_pilot_feb2</sExperimentName>
	<sInletType>lsl</sInletType>
	<sStreamName>NVX136_Data</sStreamName>
	<sRawDataFilePath></sRawDataFilePath>
	<sFTHostnamePort>localhost:1972</sFTHostnamePort>
	<bPlotRaw>1.0</bPlotRaw>
	<bPlotSignals>1.0</bPlotSignals>
	<bPlotSourceSpace>0</bPlotSourceSpace>
	<bShowSubjectWindow>1</bShowSubjectWindow>
	<fRewardPeriodS>0.25</fRewardPeriodS>
	<sReference></sReference>
	<sReferenceSub></sReferenceSub>
	<bUseExpyriment>0.0</bUseExpyriment>
	<vSignals>
		<DerivedSignal>
			<sSignalName>P4</sSignalName>
			<SpatialFilterMatrix>D:/oldpc/NewPC/Minkov/filters/P4.txt</SpatialFilterMatrix>
			<bDisableSpectrumEvaluation>0.0</bDisableSpectrumEvaluation>
			<fSmoothingFactor>0.3</fSmoothingFactor>
			<fFFTWindowSize>500</fFFTWindowSize>
			<fBandpassLowHz>7</fBandpassLowHz>
			<fBandpassHighHz>14</fBandpassHighHz>
			<fAverage></fAverage>
			<fStdDev></fStdDev>
			<bBCIMode>0</bBCIMode>
			<sROILabel></sROILabel>
			<sTemporalType>envdetector</sTemporalType>
			<sTemporalFilterType>fft</sTemporalFilterType>
			<fTemporalFilterButterOrder>2</fTemporalFilterButterOrder>
			<sTemporalSmootherType>exp</sTemporalSmootherType>
		</DerivedSignal>
		<CompositeSignal>
			<sSignalName>Composite</sSignalName>
			<sExpression></sExpression>
		</CompositeSignal>
	</vSignals>
	<vProtocols>
		<FeedbackProtocol>
			<sProtocolName>FBR</sProtocolName>
			<bUpdateStatistics>0.0</bUpdateStatistics>
			<iDropOutliers>0.0</iDropOutliers>
			<bSSDInTheEnd>0.0</bSSDInTheEnd>
			<fDuration>300.0</fDuration>
			<fbSource>P4</fbSource>
			<sFb_type>CircleFeedback</sFb_type>
			<cString></cString>
			<bUseExtraMessage>0.0</bUseExtraMessage>
			<cString2></cString2>
			<fBlinkDurationMs>50.0</fBlinkDurationMs>
			<fBlinkThreshold>0.0</fBlinkThreshold>
			<sMockSignalFilePath></sMockSignalFilePath>
			<sMockSignalFileDataset>protocol1</sMockSignalFileDataset>
			<iMockPrevious>0.0</iMockPrevious>
			<bReverseMockPrevious>0.0</bReverseMockPrevious>
			<bRandomMockPrevious>0.0</bRandomMockPrevious>
			<sRewardSignal>P4</sRewardSignal>
			<bRewardThreshold>1.0</bRewardThreshold>
			<bShowReward>1.0</bShowReward>
			<bPauseAfter>0.0</bPauseAfter>
			<bBeepAfter>0.0</bBeepAfter>
			<iRandomBound>1.0</iRandomBound>
			<sVideoPath></sVideoPath>
			<sMSignal>None</sMSignal>
			<fMSignalThreshold>1.0</fMSignalThreshold>
			<bMockSource>1.0</bMockSource>
			<bEnableDetectionTask>0.0</bEnableDetectionTask>
			<bAutoBCIFit>0</bAutoBCIFit>
		</FeedbackProtocol>
		<FeedbackProtocol>
			<sProtocolName>FBM</sProtocolName>
			<bUpdateStatistics>0.0</bUpdateStatistics>
			<iDropOutliers>0.0</iDropOutliers>
			<bSSDInTheEnd>0.0</bSSDInTheEnd>
			<fDuration>300.0</fDuration>
			<fbSource>P4</fbSource>
			<sFb_type>CircleFeedback</sFb_type>
			<cString></cString>
			<bUseExtraMessage>0.0</bUseExtraMessage>
			<cString2></cString2>
			<fBlinkDurationMs>50.0</fBlinkDurationMs>
			<fBlinkThreshold>0.0</fBlinkThreshold>
			<sMockSignalFilePath></sMockSignalFilePath>
			<sMockSignalFileDataset>protocol1</sMockSignalFileDataset>
			<iMockPrevious>1.0</iMockPrevious>
			<bReverseMockPrevious>1.0</bReverseMockPrevious>
			<bRandomMockPrevious>1.0</bRandomMockPrevious>
			<sRewardSignal>P4</sRewardSignal>
			<bRewardThreshold>1.0</bRewardThreshold>
			<bShowReward>1.0</bShowReward>
			<bPauseAfter>0.0</bPauseAfter>
			<bBeepAfter>0.0</bBeepAfter>
			<iRandomBound>1.0</iRandomBound>
			<sVideoPath></sVideoPath>
			<sMSignal>None</sMSignal>
			<fMSignalThreshold>1.0</fMSignalThreshold>
			<bMockSource>0.0</bMockSource>
			<bEnableDetectionTask>0.0</bEnableDetectionTask>
			<bAutoBCIFit>0</bAutoBCIFit>
		</FeedbackProtocol>
		<FeedbackProtocol>
			<sProtocolName>Rest</sProtocolName>
			<bUpdateStatistics>0.0</bUpdateStatistics>
			<iDropOutliers>0.0</iDropOutliers>
			<bSSDInTheEnd>0.0</bSSDInTheEnd>
			<fDuration>60.0</fDuration>
			<fbSource>All</fbSource>
			<sFb_type>Baseline</sFb_type>
			<cString>Можно отдохнуть!</cString>
			<bUseExtraMessage>0.0</bUseExtraMessage>
			<cString2></cString2>
			<fBlinkDurationMs>50.0</fBlinkDurationMs>
			<fBlinkThreshold>0.0</fBlinkThreshold>
			<sMockSignalFilePath></sMockSignalFilePath>
			<sMockSignalFileDataset>protocol1</sMockSignalFileDataset>
			<iMockPrevious>0.0</iMockPrevious>
			<bReverseMockPrevious>0.0</bReverseMockPrevious>
			<bRandomMockPrevious>0.0</bRandomMockPrevious>
			<sRewardSignal>P4</sRewardSignal>
			<bRewardThreshold>0.0</bRewardThreshold>
			<bShowReward>0.0</bShowReward>
			<bPauseAfter>0.0</bPauseAfter>
			<bBeepAfter>0.0</bBeepAfter>
			<iRandomBound>0.0</iRandomBound>
			<sVideoPath></sVideoPath>
			<sMSignal>None</sMSignal>
			<fMSignalThreshold>1.0</fMSignalThreshold>
			<bMockSource>0.0</bMockSource>
			<bEnableDetectionTask>0.0</bEnableDetectionTask>
			<bAutoBCIFit>0</bAutoBCIFit>
		</FeedbackProtocol>
		<FeedbackProtocol>
			<sProtocolName>Baseline</sProtocolName>
			<bUpdateStatistics>1.0</bUpdateStatistics>
			<iDropOutliers>0.0</iDropOutliers>
			<bSSDInTheEnd>0.0</bSSDInTheEnd>
			<fDuration>60.0</fDuration>
			<fbSource>All</fbSource>
			<sFb_type>Baseline</sFb_type>
			<cString>+</cString>
			<bUseExtraMessage>0.0</bUseExtraMessage>
			<cString2></cString2>
			<fBlinkDurationMs>50.0</fBlinkDurationMs>
			<fBlinkThreshold>0.0</fBlinkThreshold>
			<sMockSignalFilePath></sMockSignalFilePath>
			<sMockSignalFileDataset>protocol1</sMockSignalFileDataset>
			<iMockPrevious>0.0</iMockPrevious>
			<bReverseMockPrevious>0.0</bReverseMockPrevious>
			<bRandomMockPrevious>0.0</bRandomMockPrevious>
			<sRewardSignal>P4</sRewardSignal>
			<bRewardThreshold>0.0</bRewardThreshold>
			<bShowReward>0.0</bShowReward>
			<bPauseAfter>0.0</bPauseAfter>
			<bBeepAfter>0.0</bBeepAfter>
			<iRandomBound>0.0</iRandomBound>
			<sVideoPath></sVideoPath>
			<sMSignal>None</sMSignal>
			<fMSignalThreshold>1.0</fMSignalThreshold>
			<bMockSource>0.0</bMockSource>
			<bEnableDetectionTask>0.0</bEnableDetectionTask>
			<bAutoBCIFit>0</bAutoBCIFit>
		</FeedbackProtocol>
	</vProtocols>
	<vPGroups>
		<PGroup>
			<sName>Group</sName>
			<sList></sList>
			<sNumberList></sNumberList>
			<bShuffle>0.0</bShuffle>
		</PGroup>
	</vPGroups>
	<vPSequence>
		<s>Baseline</s>
		<s>FBR</s>
		<s>Rest</s>
		<s>FBM</s>
		<s>FBR</s>
		<s>Rest</s>
		<s>FBM</s>
		<s>Rest</s>
	</vPSequence>
</NeurofeedbackSignalSpecs>